.title {
  text-align: center;
}

.outline {
  background-color: rgb(16, 153, 153);
  margin: 5%;
  padding: 0.5%;
}

.inner-page {
  background-color: white;
  height: 100%;
}

.intro {
  background-color: rgb(93, 235, 93);
  justify-content: center;
  font-size: 200%;
}

.red-text {
  color: white;
  text-align: center;
  justify-content: center;
}

.custom-nav {
  background-color: azure;
}